[Unit]
Description=Camera Service Watchdog
After=network.target ros2_camera_feed.service
Wants=ros2_camera_feed.service

[Service]
Type=simple
User=root
ExecStart=/home/blankmcu/Repos/wave_rover_pi/ROS2_Pi/ros2_ws/camera_ros_config/camera_watchdog.sh
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
