# Note - before activating this service, blacklist the old xpad driver
#
# Create the blacklist file
#   echo 'blacklist xpad' | sudo tee /etc/modprobe.d/xbox-blacklist.conf
# Update the initial ramdisk (important for applying the change)
#   sudo update-initramfs -u

[Unit]
Description=Xbox 360 Wireless Controller Driver (xboxdrv)
After=multi-user.target

[Service]
User=root
Type=simple
ExecStart=/usr/bin/xboxdrv --silent --detach-kernel-driver
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target